apiVersion: apps/v1
kind: Deployment
metadata:
  name: website-ui
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: website-ui
        image: website-ui:dev
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"