apiVersion: apps/v1
kind: Deployment
metadata:
  name: policy-api
spec:
  replicas: 1
  template:
    spec:
      containers:
      - name: policy-api
        image: policy-api:dev
        resources:
          requests:
            memory: "64Mi"
            cpu: "250m"
          limits:
            memory: "128Mi"
            cpu: "500m"