apiVersion: apps/v1
kind: Deployment
metadata:
  name: payment-poc-api
spec:
  replicas: 3
  template:
    spec:
      containers:
      - name: payment-poc-api
        image: payment-poc-api:prod
        resources:
          requests:
            memory: "128Mi"
            cpu: "500m"
          limits:
            memory: "256Mi"
            cpu: "1000m"